.container {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #555; /* Smaller border */
}

.item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.item:last-child {
  flex: 2;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding: 0 20px;
}

.title {
  font-size: 16px; /* Smaller text size */
  color: #b7903c;
}

.text {
  color: white;
  font-size: 14px; /* Smaller text size */
}

.motto {
  color: rgb(211, 211, 211);
  font-size: 14px; /* Smaller text size */
}

.contact {
  color: white;
  font-size: 16px; /* Text size same as title */
  margin-top: 10px; /* Add margin to center it vertically */
  text-align: center; /* Center-align the text */
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
  }
  .item:first-child {
    display: none;
  }

  .item {
    flex-direction: column;
  }

  .title {
    font-size: 20px; /* Larger text size on smaller screens */
  }

  .text {
    font-size: 16px; /* Smaller text size on smaller screens */
  }
}